// Mixins

@mixin breakpoint($class) {

  @if $class == xxs {
    @media (max-width: 480px) { @content; }
  }

  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }

}

// Variables

// $color-dark-violet:         #1c1c25;
$color-dark-violet:         #272731;
$color-violet:              #5f548e;
$color-pink:                #ffc0cb;
$color-green:               #c0ffe5;
$color-blue:                #73a6c4;

$color-light-grey:          #b4afcb;
$color-very-light-violet:   $color-light-grey;
$color-text-main:           $color-very-light-violet;

$height-transport:          77px;

// Transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}