<template>

  <!-- 

    Custom fader/slider component
    v.0.8.1

    TODO:
    - value / faderValue with non-reactive data.
    - Better event handling.
    - clientX / pageX bug.

  -->

  <div 
    :class="[
      className,
      {
        'is-horizontal' : horizontal,
        'is-vertical'   : !horizontal,
        'is-active'     : gestureActive,
      }
    ]"
    :style="faderStyle()"
    >

      <div class="fader-title fader-text" v-if="showTitle">
        {{title}}
      </div>

      <div class="fader-value fader-text" v-if="showValue">
        <div>{{faderValue}}</div>
        <!-- <em>{{gesturePosition}}</em>
        <div class="text" style="text-overflow: clip; overflow: hidden">{{valueRatio}}</div> -->
      </div>

      <div class="fader-bar">
        <div class="fader-bar-value" :style="faderBarValueStyle()"></div>
      </div>

  </div>

</template>

<script>
export default {

  name: 'fader',

  props: {

    value: {
      type: Number,
      default: 0,
    },

    minValue: {
      type: Number,
      default: 0,
    },
    maxValue: {
      type: Number,
      default: 10,
    },
    valueStep: {
      type: Number,
      default: 0,
    },

    width: {
      type: [Number, String],
      default: 50,
    },
    height: {
      type: [Number, String],
      default: 200,
    },

    className: String,
    title: String,

    horizontal: {
      type: Boolean,
      default: false,
    },

    showTitle: {
      type: Boolean,
      default: true,
    },
    showValue: {
      type: Boolean,
      default: true,
    },

    nonReactive: {
      type: Boolean,
      default: false,
    }

  },

  data () {
    return {

      faderValue: 0,

      gestureActive: false,
      
      gesturePosition: 0,
      gesturePositionMin: 0,
      gesturePositionMax: 0,

      gestureRelativePosition: 0,
      
    }
  },

  created () {

    this.faderValue = this.value

  },

  mounted () {

    // #TODO: Implement events in another way.

		this.$el.addEventListener('mousedown', (event) => {
			this.onGestureStart(event)
		})
		// this.$el.addEventListener('touchstart', (event) => {
		// 	this.onGestureStart(event)
		// })

		window.addEventListener('mousemove', (event) => {
			this.onGestureMove(event)
		})
		// window.addEventListener('touchmove', (event) => {
		// 	this.onGestureMove(event)
		// })

		window.addEventListener('mouseup', (event) => {
			this.onGestureEnd()
		})
		// window.addEventListener('touchend', (event) => {
		// 	this.onGestureEnd()
		// })

  },

  computed: {

    orientation () {

      return this.horizontal == true ? 'HORIZONTAL' : 'VERTICAL'

    },

    valueRange () {

      return Math.abs(this.minValue - this.maxValue)

    },

    valueRatio () {
      
      // #TODO: Do this properly...
      let value
      if(this.nonReactive)
        value = this.faderValue
      else
        value = this.value

      return (value - this.minValue) / this.valueRange

    },

    faderPosition () {

      // #TODO: Remove?

      let pxPosition = this.gesturePosition

      if(pxPosition > this.gesturePositionMax)
        pxPosition = this.gesturePositionMax
      else if(pxPosition < this.gesturePositionMin)
        pxPosition = this.gesturePositionMin

      let ratioPosition = pxPosition / this.gesturePositionMax

      return {
        px: pxPosition,
        ratio: ratioPosition,
      }

    },

  },
  methods: {

    onGestureStart(event) {

      this.gestureActive = true  
      this.gestureHandler(event)

    },

    onGestureMove(event) {

      if (this.gestureActive)
        this.gestureHandler(event)

    },

    onGestureEnd(event) {

      if (this.gestureActive)
        this.$emit('onFaderStop', this.faderValue)

      this.gestureActive = false


      // console.log(`onFaderStop, but what is this?`)
      // console.log(this)

    },

    gestureHandler(event) {

      if (!this.gestureActive)
        return

      this.updateGesturePosition(event)
      this.updateValue()

    },

    updateGesturePosition(event) {

      // #TODO: Use rect.y & rect.x?
      let rect = this.$el.getBoundingClientRect()

      // Horizontal fader
      if (this.horizontal) {
        this.gesturePositionMax = this.$el.offsetWidth
        this.gesturePosition = (event.clientX || (event.touches && event.touches[0].clientX)) - rect.left
      }
      // Vertical fader
      else {
        this.gesturePositionMax = this.$el.offsetHeight
        this.gesturePosition = this.gesturePositionMax - (event.clientY || (event.touches && event.touches[0].clientY)) + rect.top
      }

      // let GESTUURVALUE = (rect.y + this.$el.offsetHeight) - event.clientY
      // if(GESTUURVALUE > this.$el.offsetHeight)
      //   GESTUURVALUE == this.$el.offsetHeight
      // if(GESTUURVALUE < 0)
      //   GESTUURVALUE == 0

      // console.log(`event.pageY      ${event.pageY}`)
      // console.log(`event.clientY    ${event.clientY}`)

      // console.log(`this.$el.offsetHeight      ${this.$el.offsetHeight}`)
      // console.log(`GESTUURVALUE               ${GESTUURVALUE}`)
      // console.log(`this.$el`)
      // console.log(this.$el)
      // console.log(this.gesturePosition)
      // console.log(this.$el.getBoundingClientRect())

      if(!this.gesturePosition || isNaN(this.gesturePosition))
        this.gesturePosition = 0

    },

    updateValue() {

      // console.log(`updateValue`)

      // #TODO: Value step rounding
      if(this.valueStep != 0)
        this.faderValue = this.stepRound((this.valueRange * this.faderPosition.ratio), this.valueStep, 0) + this.minValue
      else
        this.faderValue = (this.valueRange * this.faderPosition.ratio) + this.minValue

      this.$emit('faderUpdate', this.faderValue) // #DEPRECATED
      this.$emit('onFaderUpdate', this.faderValue)

    },

    stepRound(number, increment, offset) {
      return Math.ceil((number - offset) / increment ) * increment + offset
    },

    // Styling

    faderStyle() {

      let widthString, heightString

      if(typeof this.width === 'string')
        widthString = this.width
      else if (typeof this.width === 'number')
        widthString = `${this.width}px`

      if(typeof this.height === 'string')
        heightString = this.height
      else if (typeof this.height === 'number')
        heightString = `${this.height}px`

      return {
        width: widthString,
        height: heightString,
      }

    },

    faderBarValueStyle() {

      let faderBarSize = this.valueRatio * 100

      let faderBarStyleObject = {
        height: 'auto',
        width: 'auto',
      }

      // Horizontal fader
      if (this.horizontal) {
        faderBarStyleObject.width = `${faderBarSize}%`
      }
      // Vertical fader
      else {
        faderBarStyleObject.height = `${faderBarSize}%`        
      }

      return faderBarStyleObject

    },

  },
}
</script>

<style lang="scss">

.fader {
  
  user-select: none;
  overflow: hidden;

  // background: black;

  position: relative;
  z-index: 0;

  &.is-horizontal {
    cursor: ew-resize;
  }

  &.is-vertical {
    cursor: ns-resize;  
  }

  &.is-active {
    opacity: 0.8;
  }

}

.fader-text {
  color: white;
  pointer-events: none;
  mix-blend-mode: difference;
}

.fader-title {

  position: relative;
  z-index: 10;

}

.fader-bar-value {

  background: pink;

  position: absolute;

  .is-horizontal & {
    left: 0;
    top: 0;
    bottom: 0;
  }

  .is-vertical & {
    left: 0;
    bottom: 0;
    right: 0;
  }

}

.fader-value {

  pointer-events: none;

  text-align: center;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

}

</style>
