<template>
  <div class="index">
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {}
  },
  created () {},
  computed: {},
  methods: {},
}
</script>

<style scoped lang="scss">
</style>
