<template>

  <div class="info" v-if="!isHidden" @click="isHidden = true">

		<div class="info-box" v-if="!$store.getters['Master/isDisabled']">

			<div class="close-button">✖</div>

			<h4>Welcome to <code>quad-sequencer <span class="version">1.0-0-alpha-3</span></code></h4>

			<p>
				This is still a highly experimental proof-of-concept version and<br><b>does not work very well with mobile browsers.</b><br>
				Best performance is with desktop versions of Google Chrome and Firefox.
			</p>

			<p>
				It has four 16-step sequencers and each steps pitch and filter cutoff can be adjusted.<br>
				Sequencers 3 and 4 are hidden by default.<br>
				You can toggle the active state of a step with the button above the pitch fader.
			</p>

			<p>
				The signal of each sequencer can also be sent to two send effects: delay and reverb.
				You can adjust their parameters by opening the SEND FX window from the top toolbar.
			</p>

			<p>
				You can also toggle the visibility of the sequencers from the toolbar. Note that they will still play even if they are hidden.
			</p>

			<p>
				Features coming in future versions (?)
				<ul>
					<li>Better mobile/touch support.</li>
					<li>Loading different pattern presets.</li>
					<li>Selecting the waveform for each sequencer.</li>
					<li>Better implementation of the custom fader components.</li>
				</ul>
			</p>

			<p>
				Have fun! More info: <a href="mailto:dejaru@gmail.com">dejaru@gmail.com</a>
			</p>

		</div>

    <div class="info-box is-disabled" v-if="$store.getters['Master/isDisabled']">
      <em>Looks like your browser does not support Web Audio API!</em>
    </div>

  </div><!--.info-->

</template>

<script>
export default {
  name: 'info',
  data () {
    return {
			isHidden: false,
		}
  },
  created () {},
  computed: {},
  methods: {},
}
</script>

<style scoped lang="scss">

.info {
	background: rgba(0,0,0,0.8);
	position: fixed;
	padding: 30px;
	overflow: scroll;
	z-index: 10001;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

.info-box {

	cursor: pointer;

  background: rgba(0,0,0,0.9);
	border: 1px solid rgba( $color-violet, 0.5);
	
	margin: 0 auto;
	padding: 15px;
	position: relative;
	z-index: 10002;
	// top: 50px;
	// left: calc( 50% - 300px );
	max-width: 720px;
	width: 100%;

	&:hover {
		opacity: 0.9;
	}

}

.close-button {
	color: $color-pink;
  cursor: pointer;
  float: right;
	// position: absolute;
	// top: 0;
	// right: 0;
	&:hover {
		color: $color-very-light-violet;
	}
}
		
</style>
