<template>
  <div class="patterns">

    <div v-for="pattern in patterns" :key="pattern.name">
        {{pattern.name}}
    </div>


  </div>
</template>

<script>
export default {
  name: 'patterns',
  data () {
    return {}
  },
  created () {},
  computed: {
      patterns () {
          return this.$store.getters.patterns
      }
  },
  methods: {},
}
</script>

<style scoped lang="scss">
</style>
