<template>

  <transition name="fade">
  <div class="sends" v-if="isVisible">

    <div class="module">

      <header>

        <h3>SEND FX</h3>

        <div class="close-button" @click="$store.dispatch('Sends/hide')">✖</div>

      </header>

      <div class="send-effects">

        <!-- Delay -->

        <div class="send-effect delay" v-if="delay">

          <header class="title">
            {{delay.name}}
          </header>

          <div class="faders">

            <!-- Delay time -->

            <fader 
              :className="`fader fader-delay fader-delay-time`" 
              :title="`TIME`" 
              :horizontal="false"
              :value="delay.effect.delayTime.value"
              :minValue="0"
              :maxValue="0.8"
              :width="100"
              :height="250"
              :showValue="false"
              :nonReactive="true"
              @faderUpdate="value => { delay.effect.delayTime.setValueAtTime(value, context.currentTime) }"
            ></fader>

            <!-- Delay Feedback -->        

            <fader 
              :className="`fader fader-delay fader-delay-feedback`" 
              :title="`FEEDBACK`" 
              :horizontal="false"
              :value="delay.feedback.gain.value"
              :minValue="0"
              :maxValue="0.8"
              :width="100"
              :height="250"
              :showValue="false"
              :nonReactive="true"
              @faderUpdate="value => { delay.feedback.gain.setValueAtTime(value, context.currentTime) }"
            ></fader>

            <!-- Delay Volume -->

            <fader 
              :className="`fader fader-delay fader-delay-volume`" 
              :title="`VOLUME`" 
              :horizontal="false"
              :value="delay.output.gain.value"
              :minValue="0"
              :maxValue="0.8"
              :width="100"
              :height="250"
              :showValue="false"
              :nonReactive="true"
              @faderUpdate="value => { delay.output.gain.setValueAtTime(value, context.currentTime) }"
            ></fader>

          </div>

        </div>

        <!-- Reverb -->

        <div class="send-effect reverb" v-if="reverb">

          <header class="title">
            {{reverb.name}}
          </header>

            <!-- Reverb Volume -->
            
          <fader 
            :className="`fader fader-reverb fader-reverb-volume`" 
            :title="`VOLUME`" 
            :horizontal="false"
            :value="reverb.output.gain.value"
            :minValue="0"
            :maxValue="1.0"
            :width="100"
            :height="250"
            :showValue="false"
            :nonReactive="true"
            @faderUpdate="value => { reverb.output.gain.setValueAtTime(value, context.currentTime) }"
          ></fader>

        </div>

      </div>

    </div>

  </div>
  </transition>

</template>

<script>

import fader from './Fader.vue'

export default {
  name: 'sends',
  components: { fader },
  data () {
    return {

    }
  },
  created () {

  },
  mounted () {

  },
  computed: {

    context () {

      return this.$store.getters['Master/context']

    },

    delay () {

      let delay = this.$store.getters['Sends/getSendEffectByName']('delay')

      if(!delay)
          return false
      else
          return delay

    },

    reverb () {

      let reverb = this.$store.getters['Sends/getSendEffectByName']('reverb')

      if(!reverb)
          return false
      else
          return reverb

    },

    isVisible () {

      return this.$store.getters['Sends/isVisible']

    }

  },
  methods: {
  },
}
</script>

<style lang="scss">

.sends {
  background: rgba(56, 56, 56, 0.93);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  padding: 10px;

  width: 100%;
  height: 100%;

  // display: none;

  &.is-visible {
    // display: block;
  }

  &.is-hidden {
    // display: none;
  }
  
}

.sends {

  & .module {
    background: rgba(0,0,0,0.3);
    margin: 150px auto 0 auto;
    max-width: 500px;
  }

  header {
    position: relative;
  }

  .close-button {
    color: $color-pink;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      color: $color-very-light-violet;
    }

  }

}

.send-effects {
  display: flex;
  justify-content: space-between;
}

.send-effect {

  margin-right: 10px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  & .title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  & .faders {
    display: flex;  
  }

    & .fader {
      background: $color-dark-violet;
      margin-right: 10px;
      padding-top: 10px;
    }

    & .fader:last-child {
      margin-right: 0;
    }

}

.delay {

  // display: inline-block;

  & .fader-bar-value {
    background: $color-green;
  }

}

.reverb {

  & .fader-bar-value {
    background: $color-blue;
  }

}

</style>
