<template>

  <div 
    class="sequencer module"
    :class="{
      'is-muted': isMuted,
    }"
  >

    <!-- Header -->

    <header>

      <h3 class="title">{{name}}</h3>

      <!-- Sequencer Toolbar -->

      <div class="toolbar">

        <!-- Mute Button -->

        <div class="toolbar-item">

          <button 
            class="button mute-button" 
            :class="{ 'is-active' : isMuted }"
            @click="toggleMute()"
          >
            MUTE
          </button>

        </div>

        <!-- Volume Fader -->

        <div class="toolbar-item">

          <fader 
            :className="`fader fader-sequencer-volume`" 
            :title="`VOLUME`" 
            :horizontal="true"
            :value="this.volumeModifier"
            :minValue="0.01"
            :maxValue="1.0"
            :valueStep="0.01"
            :showValue="false"
            :width="'100%'"
            :height="'100%'"
            @onFaderUpdate="value => { this.volumeModifier = value }"
          ></fader>

        </div>

        <!-- Octave Buttons -->

        <div class="toolbar-item">

          <div class="octave-button-container">

            <button 
              class="button octave-button octave-button-minus" 
              :class="{ 'is-active' : octaveModifier === -1 }"
              @click="setOctave(-1)"
            >
              OCT -1
            </button>

            <button 
              class="button octave-button octave-button-minus" 
              :class="{ 'is-active' : octaveModifier === 0 }"
              @click="setOctave(0)"
            >
              OCT 0
            </button>

            <button 
              class="button octave-button octave-button-minus" 
              :class="{ 'is-active' : octaveModifier === 1 }"
              @click="setOctave(1)"
            >
              OCT +1
            </button>

          </div>

        </div>

        <!-- Delay Send Level -->

        <div class="toolbar-item">

          <fader 
            :className="`fader fader-delay-level fader-${name}-delay-level`" 
            :title="`DELAY SEND`" 
            :horizontal="true"
            :value="sendLevels.delay"
            :minValue="0"
            :maxValue="0.8"
            :valueStep="0.01"
            :showValue="false"
            :width="'100%'"
            :height="'100%'"
            @onFaderUpdate="value => { sendLevels.delay = value }"
          ></fader>

        </div>

        <!-- Reverb Send Level -->

        <div class="toolbar-item">        

          <fader 
            :className="`fader fader-reverb-level fader-${name}-reverb-level`" 
            :title="`REVERB SEND`" 
            :horizontal="true"
            :value="sendLevels.reverb"
            :minValue="0"
            :maxValue="1.0"
            :valueStep="0.01"
            :showValue="false"
            :width="'100%'"
            :height="'100%'"
            @onFaderUpdate="value => { sendLevels.reverb = value }"
          ></fader>

        </div>

      </div>

    </header>

    <!-- Sequencer steps -->

    <div class="steps" 
      @mousedown="stepsEditGestureStart($event)"
      @mousemove="stepsEditGestureMove($event)"
      @mouseup="stepsEditGestureStop($event)"
    >

      <!-- Step -->

      <div 
        class="step" 
        v-bind:class="{
          'is-enabled'  : step.enabled,
          'is-disabled' : !step.enabled,
          'is-active'   : step.number == position.step,
        }"
        v-for="step in sequencerPattern.steps" 
        v-bind:key="step.number"
        v-bind:data-number="step.number"
      >

        <!-- Active button -->

        <div class="step-button">
          <div class="step-active-indicator"></div>
        </div>

        <!-- Faders -->

        <!-- Pitch -->

        <div class="step-fader">

          <fader 
            :className="`fader fader-pitch fader-pitch-${step.number} key-${name}-${step.number}`" 
            :title="`PITCH`" 
            :horizontal="false"
            :value="step.pitch"
            :minValue="-12"
            :maxValue="12"
            :valueStep="1"
            :width="'auto'"
            :height="100"
            @onFaderUpdate="value => { step.pitch = value }"
          ></fader>

        </div>

        <!-- Filter Cutoff -->

        <div class="step-fader">

          <fader 
            :className="`fader fader-filter fader-filter-${step.number}`" 
            :title="`FILTER`" 
            :horizontal="false"
            :value="step.filterCutoff"
            :minValue="300"
            :maxValue="5000"
            :valueStep="1"
            :width="'auto'"
            :height="100"
            :showValue="false"
            @onFaderUpdate="value => { step.filterCutoff = value }"
          ></fader>

        </div>

      </div>

    </div>

  </div>
</template>

<script>

/*

VVVV         VVVV
 VVVV       VVVV
  VVVV     VVVV
   VVVV   VVVV
    VVVV VVVV
      VVVVV
       VVV
        V

*/

import fader from './Fader.vue'

export default {
  name: 'sequencer',
  components: { fader },
  props: {

    name: {
      type: String,
      default: 'sequencer',
    },

    waveform: {
      type: String,
      default: 'sawtooth',
    },

    volume: {
      type: Number,
      default: 0,
    },

    octave: {
      type: Number,
      default: 0,
    },

    pattern: {
      type: Object,
      default: () => {},
    },

    muted: {
      type: Boolean,
      default: false,
    },
    
    delayLevel: {
      type: Number,
      default: 0,
    },  
    reverbLevel: {
      type: Number,
      default: 0,
    },
  
  },
  data () {

    return {

      isMuted: this.muted,

      volumeModifier: this.volume,
      octaveModifier: this.octave,

      basePitch: 38,
      basePitchModifier: 0,
      baseFilterCutoffModifier: 0,

      stepEditGesture: {
        on: false,
        type: true,
      },

      // sequencerPattern: this.pattern,
      sequencerPattern: [],

      oscillator: 'sawtooth',

      sendLevels: {
        delay: this.delayLevel,
        reverb: this.reverbLevel,
      }

    }

  },
  created () {


    this.sequencerPattern = this.pattern

    // Copy pattern object #TODO
    // if(this.pattern)
      // this.sequencerPattern = JSON.parse(JSON.stringify(this.pattern))

  },

  computed: {

    volumeComputed () {

      // #TODO

      let volumeComputed = this.volumeModifier

      if (this.volumeModifier > 1)
        volumeComputed = 1
      else if (this.volumeModifier <= 0)
        volumeComputed = 0.01

      return volumeComputed

    },

    currentStep () {

      if(!this.sequencerPattern.steps)
        return

      const currentStep = this.sequencerPattern.steps.find((step) => step.number == this.position.step)

      return currentStep

    },

    basePitchComputed () {
      
      // #TODO: Remove this.basePitch ?

      return (this.basePitch + parseInt(this.basePitchModifier)) + (this.octaveModifier * 12)

    },

    baseFilterCutoffComputed () {

      return parseInt(this.baseFilterCutoffModifier)

    },

    position () {

      const position = this.$store.getters['Clock/position']
      return position

    },

  },
  methods: {

    // Step editing gestures

    stepsEditGestureStart (event) {

      this.stepEditGesture.on = true

      if(!event.target.parentNode.classList.contains('step'))
        return false

      let number = parseInt(event.target.parentNode.dataset.number)

      let selectedStep = this.sequencerPattern.steps.find((step) => step.number === number)

      if(!selectedStep)
        return // #TODO

      this.stepEditGesture.type = !selectedStep.enabled
      selectedStep.enabled = this.stepEditGesture.type

    },

    stepsEditGestureMove (event) {

      if(this.stepEditGesture.on) {

        if(!event.target.parentNode.classList.contains('step'))
          return false

        let number = parseInt(event.target.parentNode.dataset.number)

        let selectedStep = this.sequencerPattern.steps.find((step) => step.number === number)

        if(!selectedStep)
          return // #TODO

        selectedStep.enabled = this.stepEditGesture.type

      }
      
    },

    stepsEditGestureStop (event) {

      this.stepEditGesture.on = false

    },

    // Toolbar actions

    toggleMute () {

      this.isMuted = !this.isMuted

    },

    setOctave (value) {

      console.log(`setOctave ${value}`)

      this.octaveModifier = value

    },

    // Styles

    octaveButtonStyle (value) {

      if(value === this.octaveModifier)
        return true

    },

  },

  watch: {

    currentStep () {

      // #TODO

      if(this.isMuted)
        return

      if(!this.currentStep)
        return

      if(
        this.$store.state.Clock.isPlaying && 
        (this.currentStep.enabled && this.currentStep.number == this.position.step)
      ) {
        
        // Play synth voice
        this.$store.dispatch('Synth/playVoice', {
          waveform: this.waveform,
          volume: this.volumeComputed,
          pitch: this.basePitchComputed + parseInt(this.currentStep.pitch),
          filterCutoff: this.baseFilterCutoffComputed + parseInt(this.currentStep.filterCutoff),
          delaySendLevel: this.sendLevels.delay,
          reverbSendLevel: this.sendLevels.reverb,
        })

      }
      
    }

  }

}
</script>

<style lang="scss">

/* 
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////

   CCCCCCC   SSSSSSSS    SSSSSSSS 
 CCCCCCCCC  SSSS        SSSS      
CCCC       SSS         SSS       
CCC         SSSSSSSS    SSSSSSSS 
CCCC             SSSS        SSSS
 CCCCCCCCC       SSSS        SSSS 
  CCCCCCC  SSSSSSSS    SSSSSSSS  

////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
*/

.sequencer {

  &.is-muted {
    opacity: 0.50;
    filter: grayscale(75%);
  }

}

.toolbar {

  display: flex;

  & .button {
    padding: 10px;
    width: 100%;
  }

  & .fader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .toolbar-item {
    margin-right: 10px;
    width: 20%;
  }

  & .toolbar-item:last-child {
    margin-right: 0px;
  }

  & .fader {
    background: #1c1c25;
  }

  & .fader-delay-level .fader-bar-value {
    background: $color-green;
  }

  & .fader-reverb-level .fader-bar-value {
    background: $color-blue;
  }

}

.octave-button-container {

  display: flex;
  height: 100%;

  & .button {
    font-size: 12px;
    padding: 0px;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    // width: 33.33333%;
    flex: 1 1 100%;
  }

}

.title {
  text-transform: uppercase;
}

// 

.steps {

  display: flex;
  margin: 10px 0;

  &:last-child {
    margin-bottom: 0;
  }

}

.step {
  
    flex-grow: 1;   

    cursor: pointer;
    user-select: none;

    color: white;
    text-align: center;

    position: relative;

    width: 6.25%; //#TODO ?

    &.is-enabled {
      // background: rgb(51, 46, 73);
      opacity: 1.0;
      filter: grayscale(0%);      
    }

    &.is-disabled {
      opacity: 0.3;
      filter: grayscale(80%);
    }

    &.is-enabled .step-active-indicator {
      background: pink;
      // transition: background 0.03s ease;       
    }

    &.is-enabled.is-active {
      // opacity: 0.75;
      filter: contrast(150%);
    }

    &.is-enabled.is-active .step-active-indicator {
      background: white;
    }

    // 


}

.step {

  & .step-button {

    background: $color-dark-violet;
    border: 1px solid rgb(45, 40, 66);
    border-radius: 2px;

    padding: 5px;

    height: 55px;

  }

  & .step-active-indicator {

    pointer-events: none;

    background: rgb(109, 98, 151);
    border-radius: 2px;   

    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;

    height: 7px;

    transition: background 0.3s ease;

    .is-enabled.is-active & {
      background: $color-green;
    }

  }



  & .step-fader {

    // background: rgb(32, 28, 48);
    border: 1px solid rgb(45, 40, 66);
    border-radius: 2px;
    padding: 5px;

  }

}

.step-edit-menu {
  
  background: black;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

}

// Faders

.fader-filter {

  & .fader-bar-value {
    background: $color-violet;
  }

}

</style>
