<template>
  <div class="transport">

    <div class="transport-controls">

      <!-- Play Button -->

      <button 
        class="button transport-button play-button" 
        v-bind:class="{'is-active' : isPlaying }"
        @click="play()"
      >

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 240 240" width="25" height="25"><defs><path d="M0 240L240 120L0 0L0 240Z" id="b6vlLK3SfG"></path><clipPath id="clipd2lbHgX0TI"><use xlink:href="#b6vlLK3SfG" opacity="1"></use></clipPath></defs><g><g><g><use xlink:href="#b6vlLK3SfG" opacity="1"></use><g clip-path="url(#clipd2lbHgX0TI)"><use xlink:href="#b6vlLK3SfG" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="0" stroke-opacity="1"></use></g></g></g></g></svg>
      
      </button>

      <!-- Stop Button -->

      <button 
        class="button transport-button stop-button" 
        v-bind:class="{'is-active' : !isPlaying }"
        @click="stop()"
      >
       
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 240 240" width="25" height="25"><defs><path d="M0 0L240 0L240 240L0 240L0 0Z" id="k1OTq40liS"></path></defs><g><g><g><use xlink:href="#k1OTq40liS" opacity="1"></use></g></g></g></svg>
        
      </button>

      <!-- Tempo -->
      
      <fader 
        :className="`fader fader-tempo`" 
        :title="`BPM `" 
        :horizontal="true"
        :value="tempo"
        :minValue="40"
        :maxValue="200"
        :valueStep="1"
        :showValue="true"
        
        :height="'100%'"
        @onFaderUpdate="value => { this.tempo = value }"
        @onFaderStop="value => setTempo(value)"
      ></fader>

    </div>

    <div class="module-visibility-controls">

      <!-- Hide / Show Icon -->

      <svg class="visibility-icon" width="50" height="50" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 100 56.533" enable-background="new 0 0 100 56.533" xml:space="preserve"><path d="M99.995,28.08c-0.002-0.042-0.006-0.082-0.009-0.123c-0.002-0.021-0.003-0.042-0.005-0.062  c-0.003-0.03-0.008-0.06-0.012-0.089c-0.004-0.035-0.008-0.07-0.014-0.104c-0.001-0.004-0.002-0.009-0.002-0.013  c-0.123-0.773-0.487-1.498-1.045-2.056c-3.19-3.781-6.985-7.146-10.844-10.219C79.753,8.792,70.248,3.252,59.756,1.022  C53.692-0.266,47.59-0.321,41.494,0.769c-5.545,0.992-10.889,3.054-15.891,5.61c-7.829,4-14.979,9.515-21.209,15.698  c-1.153,1.144-2.3,2.312-3.348,3.555c-1.396,1.654-1.396,3.613,0,5.267c3.19,3.781,6.985,7.145,10.844,10.219  c8.312,6.622,17.817,12.161,28.309,14.391c6.064,1.289,12.167,1.344,18.263,0.254c5.544-0.992,10.888-3.054,15.891-5.61  c7.829-4.001,14.979-9.515,21.209-15.698c1.153-1.145,2.3-2.312,3.348-3.555c0.558-0.559,0.922-1.283,1.045-2.057  c0-0.004,0.001-0.009,0.002-0.013c0.006-0.035,0.01-0.069,0.014-0.104c0.004-0.029,0.009-0.059,0.012-0.089  c0.002-0.021,0.003-0.041,0.005-0.062c0.003-0.04,0.007-0.08,0.009-0.122c0.003-0.062,0.005-0.124,0.005-0.187  S99.998,28.142,99.995,28.08z M50,47.507c-10.627,0-19.241-8.614-19.241-19.241C30.759,17.64,39.373,9.025,50,9.025  s19.241,8.614,19.241,19.241C69.241,38.893,60.627,47.507,50,47.507z"/><circle cx="50" cy="28.266" r="6.369"/></svg>

      <!-- Hide / Show Send Effects Button -->

      <button 
        class="button button-toggle-send-fx" 
        :class="{ 'is-active' : this.$store.getters['Sends/isVisible'] }"
        @click="toggleSendEffects()">
        SEND FX
      </button>

      <!-- Hide / Show Sequencer Buttons -->

      <div 
        class="button"
        :class="{ 'is-active' : sequencer.isVisible }"
        v-for="(sequencer, index) in sequencers"
        :key="sequencer.name"
        @click="toggleSequencer(sequencer)"
      >
        SEQ-{{index+1}}
      </div>

    </div>

  </div>
</template>

<script>

import fader from './Fader.vue'

export default {
  name: 'transport',
  components: { fader },
  data () {

    return {

      // isPlaying: false,
      tempo: this.$store.getters['Clock/tempo'],

    }

  },

  created () {

    document.addEventListener('keydown', (event) => {

      if(event.keyCode === 32) {

        event.preventDefault()

        if(!this.isPlaying)
          this.play()
        else
          this.stop()

      }

    })

  },

  computed: {

    isPlaying () {

      return this.$store.getters['Clock/isPlaying']

    },

    status () {

      if(this.isPlaying)
          return 'PLAYING'
      else
          return 'STOPPED'

    },

    position () {
      
      const position = this.$store.getters['Clock/position']
      return position.step

    },

    sequencers () {

      return this.$store.getters['Sequencers/sequencers']

    }

  },
  methods: {

    play () {

      this.$store.dispatch('Clock/startClock')

    },

    stop () {

      this.$store.dispatch('Clock/stopClock')
      
    },

    setTempo (value) {

      this.$store.dispatch('Clock/setTempo', value)

    },

    toggleSendEffects () {

      if(this.$store.getters['Sends/isVisible'])
        this.$store.dispatch('Sends/hide')
      else
        this.$store.dispatch('Sends/show')
      
    },

    toggleSequencer (sequencer) {

      sequencer.isVisible = !sequencer.isVisible

    },

  }
}
</script>

<style scoped lang="scss">

.transport {

  // background: rgba(75, 70, 95, 0.95);

  display: flex;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10000;

  margin-bottom: 0px;
  padding: 10px;

  width: 100%;
  height: $height-transport;

  &.is-scrolled {
    background: rgba(0,0,0,0.9);
  }

  & .button {

    display: flex;

    border: 0;
    cursor: pointer;
    
    background: #1c1c25;
    color: pink;
    
    padding: 15px;

    outline: 0;

    &:hover {
      opacity: 0.9;
    }

    &.is-active {
      background: pink;
      color: #1c1c25;
    }

    & svg, & img {
      fill: white;
      max-width: 40px;
    }

  }

  & .play-button {

  }

  & .stop-button {

  }

  & .fader-tempo {
    margin: 0 10px;
    text-align: center;
    background: $color-dark-violet;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px !important; // #TODO

    @include breakpoint(xs) {
      width: 120px !important; // #TODO
    }

  }

}

.visibility-icon {
  padding: 5px;
}

.transport-controls {
  display: flex;
}

.module-visibility-controls {
  
  display: flex;
  align-items: center;

  margin-left: auto;

  & .button {
    
    margin-right: 1px;

    &:last-child {
      margin: 0;
    }

  }

}

</style>
