<template>

  <div id="app" 
    :class="{ 
      'is-hidden'   : !this.$store.getters.ready,
      'is-ready'    : this.$store.getters.ready,
      'is-disabled' : this.$store.getters['Master/isDisabled']
      }"
    >

    <info></info>

    <transport :class="{ 'is-scrolled' : scrolled }"></transport>
      
    <sends></sends>    
    
    <div class="sequencers">

      <sequencer 
        v-for="sequencer in sequencers" 
        :class="{
          'is-visible' : sequencer.isVisible,
          'is-hidden' : !sequencer.isVisible,
        }"
        :key="sequencer.name"
        :name="sequencer.name"
        :pattern="sequencer.pattern"
        :waveform="sequencer.waveform"
        :muted="sequencer.isMuted"
        :volume="sequencer.volume"
        :octave="sequencer.octave"
        :delayLevel="sequencer.delayLevel"
        :reverbLevel="sequencer.reverbLevel"
        v-if="sequencer.pattern.steps.length"
      ></sequencer>

      <!-- #TODO: v-if="sequencer.pattern.steps.length" -->

    </div><!--.sequencers-->

  </div><!--#app-->

</template>

<script>

import Transport from './components/Transport'
import Sends from './components/Sends'
import Sequencer from './components/Sequencer'
import Patterns from './components/Patterns'
import Info from './components/Info'

export default {
  name: 'App',
  components: { Transport, Sends, Sequencer, Patterns, Info },
  data () {
    return {
      scrolled: false,
    }
  },
  computed: {
    sequencers () {
      return this.$store.getters['Sequencers/sequencers']
    }
  },
  created () {
    window.addEventListener('scroll', this.scrollHandler)
  },
  methods: {
    scrollHandler () {
      if(window.scrollY > 0)
        this.scrolled = true
      else
        this.scrolled = false
    }
  }
}

</script>

<style lang="scss">
// https://github.com/vuejs/vue-loader/issues/883



$bg-color: black;
$dot-color: #262628;

$dot-size: 1px;
$dot-space: 12px;

* {
  box-sizing: border-box;
}

html {
  background: #3d3d3d;
  // background: linear-gradient(bottom, black, $color-dark-violet);

	background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
                linear-gradient(0deg,  $bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
	background-size: $dot-space $dot-space;
	background-position: 100% 50%;

  min-height: 100%;
  min-width: 100%;

  font-size: 62.5%;

} 

body {

  min-height: 100%;
  min-width: 100%;
  margin: 0;

  font-size: 18px;

  @include breakpoint(xs) {
    font-size: 13px;
  }

  @include breakpoint(sm) {
    font-size: 15px;
  }

  @include breakpoint(md) {
    font-size: 18px;
  }

}

#app {
  font-family: 'Dosis', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: hsl(251, 21%, 74%);

  opacity: 1.0;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  transition: opacity 1.3s ease;

  &.is-ready {
    opacity: 1.0;
    transition: opacity 1.3s ease;
  }

  &.is-hidden {
    opacity: 0.0;
    pointer-events: none;
    transition: opacity 1.3s ease;
  }

}

a {
  color: hsl(251, 21%, 74%);
  text-decoration: none;
  border-bottom: 1px solid hsl(251, 21%, 74%);
}

.sequencers {
  // background: rgba(250, 235, 215, 0.07);
  margin: $height-transport 10px 10px 10px;
  flex: 1 1 100%;
}

.sends {
  margin: 0 10px 0 0;
}

.sequencer {

  &.is-visible {
    opacity: 1.0;
    // display: block;
    // position: relative;
    // visibility: visible;
    transition: all 0.3s ease;
  }

  &.is-hidden {
    opacity: 0.0;    
    display: none;
    // position: absolute;
    // visibility: hidden;
    transition: all 0.3s ease;
  }

}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {

  @include breakpoint(xs) {
    font-size: 1.3rem;
  }
  @include breakpoint(md) {
    font-size: 1.5rem;
  }
  @include breakpoint(lg) {
    font-size: 1.6rem;
  }

}

button, .button {

  border: 0;
  cursor: pointer;
  
  background: #1c1c25;
  color: pink;

  @include breakpoint(xs) {
    font-size: 1.3rem;
  }
  @include breakpoint(md) {
    font-size: 1.8rem;
  }
  @include breakpoint(lg) {
    font-size: 2.0rem;
  }



  font-family: inherit;
  
  padding: 25px 100px;

  outline: 0;

  &.is-active {
    background: pink;
    color: #1c1c25;
  }

  &.is-small {
    padding: 10px 25px;
  }

  &.is-medium {
    padding: 15px 50px;
  }

  &.is-large {
    padding: 25px 100px;
  }

}

.module {

  background: rgba(255, 255, 255, 0.10);
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;

  transition: background 0.3s ease;
  
  & h3 {
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }

  &:hover {
    // background: rgba(0, 0, 0, 0);  
    // transition: background 0.3s ease;
  }

}

</style>
